/** BASIC CARDS **/

.icon-card {
  background-color: #fff;
  color: #fff;
  border: 3px solid #000;
}

.icon-card:hover {
  color: var(--color-accent-light);
}

.icon {
  color: #000;
}

h2 {
  color: #000;
}

h2:hover {
  color: var(--color-accent-light);
  transition: ease .3s;
}

/** PRODUCT INFO CARDS **/

.image-card {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #000;
}
