/** BASIC CARDS **/

.icon-card {
  background-color: #fff;
}

.icon-card:hover {
  cursor: pointer;
  transition: ease .3s;
  border: 2px solid var(--color-accent);
}

h2 {
  color: var(--color-primary);
}

/** IMAGE CARD **/

.image-card {
  text-decoration: none;
  list-style-type: none;
}

.image-card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/** PRODUCT INFO CARDS **/

a {
  text-decoration: none;
  list-style-type: none;
  color: var(--color-primary);
}
