input,
select {
  border-radius: .25em;
  border: 2px solid;
  border-color: var(--color-accent);
  outline: none;
}

input[type="checkbox"] + label::before {
  border-radius: .15em;
  border-color: var(--color-accent);
}

textarea {
  border-color: var(--color-accent);
}

form {
  color: #000;
}

input {
  color: #000;
}

h2:hover {
  color: #000;
}
