img {
  max-width: 100%;
  vertical-align: top;
}

section {
  margin: 0 auto;
  background-color: #d3d3d3;
  position: relative;
  padding: 10px;
}

.alternate2 {
  height: 200px;
  width: 100%;
  margin: 0 auto;
  background-color: #466e64;
  position: relative;
  padding: 10px;
}

.content2 {
  color: #fff;
}
