img {
  max-width: 100%;
  vertical-align: top;
}

section {
  margin: 0 auto;
  background-color: var(--color-accent-light);
  color: var(--color-primary);
  position: relative;
  padding: 10px;
}

.content,
.read-more a {
  color: #fff;
}

.image-section {
  color: var(--color-accent-light);
}

.alternate2 {
  width: 100%;
  margin: 0 auto;
  background-color: #466e64;
  position: relative;
}

.content2 {
  color: #fff;
}
