img {
  max-width: 100%;
  vertical-align: top;
}

section {
  margin: 0 auto;
  background-color: var(--color-accent);
  color: var(--color-primary);
  position: relative;
  padding: 10px;
}

.content,
.read-more a {
  color: #fff;
}

.image-section {
  color: var(--color-accent-light);
}

.alternate-two {
  width: 100%;
  margin: 0 auto;
  background-color: var(--color-accent);
  position: relative;
}

.content-two {
  color: #fff;
}

.alternate-three {
  width: 100%;
  margin: 0 auto;
  background-color: var(--color-section);
  position: relative;

}

.content-three {
  color: var(--color-primary);
}
